* {
    margin: 0;
    padding: 0;
  }
  
body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
    background-color: #fff;
}

.jumbotron {
    background-image: url(./images/sky3.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.jumbotron h1 {
    font-size: 63px;
}

.jumbotron p {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
}

.text-center {
    color: #f2f2f2;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 3rem;
  text-align: center;
  width: 90%;
  margin: 2rem auto;
}

.about-me p {
    width: 30%;
    margin: 0;
    padding-bottom: 50px;
  }

.container.about-me img {
    height: 200px;
    border-radius: 50%;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
    padding: 60px 0;
  }
  
  .contact p {
    width: 30%;
    margin: auto;
  }
  
  .contact h2, h3, p {
    margin: 0;
    padding: 0;
  }

  .footer {
    background-image: url(./images/sky4.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
    color: white;
    display: flex;
    justify-content: center;
  }

.footer .container-fluid {
  margin: 2rem;
}

.footer a {
  color: #fff;
}

ul {
    gap: 10px;
}

.topbar {
    gap: 15px;
    margin-left: 15px;
}

.background {
  background-color: #333;
  height: 440px;
  padding-top: 5px;
}

.container.projects {
  background-color: #fff;
}

@media (max-width: 767.98px) { 
  .jumbotron h1 {
    font-size: 2rem;
  }
  .contact p, .about-me p {
    width: 70%;
  }
 }

 .container.links {
  display: flex;
  align-items: start;
  justify-content: start;
  text-align: start;
 }

 .container.links h2 {
  width: 100%;
  text-align: start;
 }


 