<%- include("partials/header.ejs") %>
    
    <div class="container links border rounded">
      <h2 class="border-bottom">HTML and CSS</h2>
      <p><a href="https://dfloriani.github.io/exercises/HTML/form.html" target="_blank">Form</a> - different types of HTML inputs.</p>
      <p><a href="https://dfloriani.github.io/exercises/HTML/onlineResume" target="_blank">Resume</a> - different HTML tags for formatting.</p>
      <p><a href="https://dfloriani.github.io/exercises/CSS/PageLayoutMethods/" target="_blank">Page Layout</a> - example of how different displays and position apply on a layout.</p>
      <p><a href="https://dfloriani.github.io/exercises/CSS/AgencyProject/" target="_blank">Agency page</a> - using Google Fonts, flex and float.</p>
      <p><a href="https://dfloriani.github.io/exercises/CSS/GridPlacement/" target="_blank">Grid Placement</a> - using grid positioning.</p>
      <p><a href="https://dfloriani.github.io/exercises/CSS/GridTest/" target="_blank">Grid test</a> - entire skeleton layout built with grid.</p>
      <p><a href="https://dfloriani.github.io/exercises/CSS/MondrianProject/" target="_blank">Mondrian</a> - using grid to replicate the famous painting style.</p>
      <p><a href="https://dfloriani.github.io/exercises/CSS/PriceTable/" target="_blank">Price Table</a> - made with flex, uses transitions.</p>
    </div>

<%- include("partials/footer.ejs") %>